src/groundx/templates/** eol=lf
helm/templates/** eol=lf
src/groundx/**/*.yaml eol=lf
src/groundx/**/*.yml eol=lf
src/groundx/**/*.json eol=lf
src/groundx/**/*.tpl eol=lf
src/groundx/**/*.snap eol=lf
helm/**/*.yaml eol=lf
helm/**/*.yml eol=lf
helm/**/*.json eol=lf
helm/**/*.tpl eol=lf
