{{- $sups := (include "groundx.app.ingress" . | fromYaml | default dict) -}}
{{- $ns := include "groundx.ns" . -}}
{{- range $n, $entry := $sups }}
{{- $svcKey := printf "groundx.%s.ingress" $entry -}}
{{- $meta := include $svcKey $ | fromYaml -}}

{{- $name := get $meta "name" -}}
{{- $svcData := get $meta "data" -}}

{{- if gt (len $svcData) 0 }}

{{- $anns := dig "annotations" dict $svcData -}}
{{- $host := dig "hostName" "" $svcData -}}
{{- $icn := dig "ingressClassName" "" $svcData -}}
{{- $lbls := dig "labels" dict $svcData -}}
{{- $path := dig "path" "" $svcData -}}
{{- $paths := dig "paths" list $svcData -}}
{{- $portKey := printf "groundx.%s.port" $entry -}}
{{- $port := include $portKey $ -}}
{{- $tls := dig "tls" list $svcData -}}
{{- $vs := dig "apiVersion" "networking.k8s.io/v1" $svcData -}}
---
apiVersion: {{ $vs }}
kind: Ingress
metadata:
  name: {{ $name }}
  namespace: {{ $ns }}
  labels:
{{- include "groundx.renderDefaultLabels" (dict "indent" 4 "root" $) }}
{{- if gt (len $lbls) 0 }}
{{- toYaml $lbls | nindent 4 }}
{{- end }}
{{- if gt (len $anns) 0 }}
  annotations:
{{- toYaml $anns | nindent 4 }}
{{- end }}
spec:
{{- if ne $icn "" }}
  ingressClassName: {{ $icn }}
{{- end }}
  rules:
  - http:
      paths:
{{- if or (not $paths) (eq (len $paths) 0) }}
      - backend:
{{- if eq $vs "networking.k8s.io/v1" }}
          service:
            name: {{ $name }}
            port:
              number: {{ $port }}
        pathType: ImplementationSpecific
{{- else }}
          serviceName: {{ $name }}
          servicePort: {{ $port }}
{{- end }}
{{- if ne $path "" }}
        path: {{ $path }}
{{- end }}
{{- else }}
{{ tpl (toYaml $paths) $ | nindent 6 }}
{{- end }}
{{- if ne (tpl $host $) "" }}
    host: {{ tpl $host $ | quote }}
{{- end }}
{{- if and $tls (gt (len $tls) 0) }}
  tls:
{{ tpl (toYaml $tls) $ | nindent 4 }}
{{- end }}

{{ end }}

{{ end }}



