{{- $sups := (include "groundx.app.secrets" . | fromYaml | default dict) -}}
{{- $ns := include "groundx.ns" . -}}
{{- range $n, $entry := $sups }}
{{- $svcKey := printf "groundx.%s.secrets" $entry -}}
{{- $svcData := include $svcKey $ | fromYaml -}}

{{- $name := get $svcData "name" -}}
{{- $data := get $svcData "data" -}}
{{- if and $data (gt (len $data) 0) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $name }}
  namespace: {{ $ns }}
  labels:
{{ include "groundx.renderDefaultLabels" (dict "indent" 4 "root" $) }}
type: Opaque
data:
  {{- range $key, $val := $data }}
    {{ $key }}: {{ $val | b64enc | quote }}
  {{- end }}

{{- end }}
{{ end }}
