{{- if and .Values.data (gt (len .Values.data) 0) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
  labels:
type: Opaque
data:
  {{- range $key, $val := .Values.data }}
  {{ $key }}: {{ $val | b64enc | quote }}
  {{- end }}
{{- end }}
