environment         = {
  cluster_role_arns = []
  region            = ""
  security_groups   = []
  ssh_key_name      = ""
  stage             = "prod"
  subnets           = []
  vpc_id            = ""
}

storage = {
  driver = "efs"
}

node_diagnostics = {
  enabled = false
}

eks_kms_source_policy_documents = []
