{{- $svcs := (include "groundx.golang.services" . | fromYaml) -}}
{{- $engs := (include "groundx.engines" . | fromYaml) -}}
{{- $pres := include "groundx.preProcessors" . | fromYaml -}}
{{- $fs := (include "groundx.file.settings" . | fromYaml) -}}
{{- $ppq := (include "groundx.stream.topic.preProcess" . | fromYaml) -}}
{{- $pq := (include "groundx.stream.topic.process" . | fromYaml) -}}
{{- $sq := (include "groundx.stream.topic.summary" . | fromYaml) -}}
{{- $uq := (include "groundx.stream.topic.update" . | fromYaml) -}}
{{- $lq := (include "groundx.stream.topic.upload" . | fromYaml) -}}

{{- $eac := include "groundx.extract.agent.threshold" . | trim -}}
{{- $edc := include "groundx.extract.download.threshold" . | trim -}}
{{- $esc := include "groundx.extract.save.threshold" . | trim -}}
{{- $lcc := include "groundx.layout.correct.threshold" . | trim -}}
{{- $lmc := include "groundx.layout.map.threshold" . | trim -}}
{{- $loc := include "groundx.layout.ocr.threshold" . | trim -}}
{{- $lpc := include "groundx.layout.process.threshold" . | trim -}}
{{- $lsc := include "groundx.layout.save.threshold" . | trim -}}

{{- $epc := include "groundx.extract.api.threshold" . | trim -}}
{{- $gxc := include "groundx.groundx.threshold" . | trim -}}
{{- $lac := include "groundx.layout.api.threshold" . | trim -}}
{{- $lwc := include "groundx.layoutWebhook.threshold" . | trim -}}

{{- $lic := include "groundx.layout.inference.threshold" . | trim -}}
{{- $sac := include "groundx.summary.api.threshold" . | trim -}}
{{- $sic := include "groundx.summary.inference.threshold" . | trim -}}
{{- $scc := include "groundx.summaryClient.threshold" . | trim -}}
{{- if gt (len $svcs) 0 }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: config-yaml-map
  namespace: {{ include "groundx.ns" . }}
  labels:
{{ include "groundx.renderDefaultLabels" (dict "name" "" "indent" 4 "root" $) }}
data:
  config.yaml: |
    _mysql: &mysql
      ro_addr: {{ include "groundx.db.ro" . }}
      rw_addr: {{ include "groundx.db.rw" . }}
      {{- if ne (include "groundx.db.username" .) "" }}
      user: {{ include "groundx.db.username" . | quote }}
      {{- end }}
      {{- if ne (include "groundx.db.password" .) "" }}
      password: {{ include "groundx.db.password" . | quote }}
      {{- end }}
      database: {{ include "groundx.db.dbName" . }}
      maxIdle: {{ include "groundx.db.maxIdle" . }}
      maxOpen: {{ include "groundx.db.maxOpen" . }}
      {{- if ne (include "groundx.db.rootCerts" .) "" }}
      rootCerts: | {{ include "groundx.db.rootCerts" . | nindent 8 }}
      {{- end }}


    {{- if or (ne (include "groundx.admin.apiKey" .) "") (ne (include "groundx.admin.email" .) "") (ne (include "groundx.admin.password" .) "") (ne (include "groundx.admin.username" .) "") (ne (include "groundx.licenseKey" .) "") }}

    admin:
      {{- if ne (include "groundx.admin.apiKey" .) "" }}
      apiKey: {{ include "groundx.admin.apiKey" . }}
      {{- end }}
      {{- if ne (include "groundx.admin.email" .) "" }}
      email: {{ include "groundx.admin.email" . | quote }}
      {{- end }}
      {{- if ne (include "groundx.licenseKey" .) "" }}
      licenseKey: {{ include "groundx.licenseKey" . }}
      {{- end }}
      {{- if ne (include "groundx.admin.password" .) "" }}
      password: {{ include "groundx.admin.password" . | quote }}
      {{- end }}
      {{- if ne (include "groundx.admin.username" .) "" }}
      username: {{ include "groundx.admin.username" . }}
      {{- end }}
    {{- end }}

    ai:
      aws:
        search:
          baseURL: {{ include "groundx.search.baseUrl" . }}
          index: {{ include "groundx.search.indexName" . }}
          languages:
          {{- range (include "groundx.languages" . | fromYamlArray) }}
            - {{ . }}
          {{- end }}
          username: {{ include "groundx.search.username" . | quote }}
          password: {{ include "groundx.search.password" . | quote }}
      extract:
        client:
          {{- if ne (include "groundx.admin.username" .) "" }}
          apiKey: {{ include "groundx.admin.username" . }}
          {{- end }}
          baseURL: {{ include "groundx.extract.api.serviceUrl" . }}
          callbackURL: {{ include "groundx.layoutWebhook.serviceUrl" . }}
      eyelevelSearch:
        {{- if ne (include "groundx.admin.username" .) "" }}
        apiKey: {{ include "groundx.admin.username" . }}
        {{- end }}
        baseURL: {{ include "groundx.ranker.api.serviceUrl" . }}
      layout:
        client:
          {{- if ne (include "groundx.admin.username" .) "" }}
          apiKey: {{ include "groundx.admin.username" . }}
          {{- end }}
          baseURL: {{ include "groundx.layout.api.serviceUrl" . }}
          callbackURL: {{ include "groundx.layoutWebhook.serviceUrl" . }}
      openai:
        {{- if ne (include "groundx.summary.apiKey" .) "" }}
        apiKey: {{ include "groundx.summary.apiKey" . }}
        {{- end }}
        {{- if ne (include "groundx.summary.baseUrl" .) "" }}
        baseURL: {{ include "groundx.summary.baseUrl" . }}
        {{- end }}
        defaultKitId: {{ include "groundx.summary.defaultKitId" . }}
      summaryType: summary
      searchIndexes:
        {{ include "groundx.search.indexName" . }}:
          languages:
          {{- range (include "groundx.languages" . | fromYamlArray) }}
            - {{ . }}
          {{- end }}

    engines:
      {{ range $i, $e := $engs }}
      {{- $engineID := get $e "engineId" -}}
      {{ $engineID }}:
        engineID: {{ $engineID | quote }}
        service: {{ coalesce (get $e "serviceType") (include "groundx.summary.serviceType" $) }}
        {{- if hasKey $e "apiKey" }}
        apiKey: {{ get $e "apiKey" }}
        {{- end }}
        {{- if hasKey $e "baseUrl" }}
        baseURL: {{ get $e "baseUrl" }}
        {{- end }}
        {{- if hasKey $e "maxInputTokens" }}
        maxInputTokens: {{ get $e "maxInputTokens" }}
        {{- end }}
        {{- if hasKey $e "maxRequests" }}
        maxRequests: {{ get $e "maxRequests" }}
        {{- end }}
        {{- if hasKey $e "reasoningEffort" }}
        reasoningEffort: {{ get $e "reasoningEffort" }}
        {{- end }}
        {{- if hasKey $e "requestLimit" }}
        requestLimit: {{ get $e "requestLimit" }}
        {{- end }}
        {{- if hasKey $e "type" }}
        type: {{ get $e "type" }}
        {{- end }}
        {{- if hasKey $e "vision" }}
        vision: {{ get $e "vision" }}
        {{- else }}
        vision: true
        {{- end }}
      {{- end }}

    environment: {{ include "groundx.environment" . }}

    groundxServer:
      baseURL: {{ include "groundx.groundx.serviceUrl" . }}
      port: {{ include "groundx.groundx.containerPort" . }}
      serviceName: {{ include "groundx.groundx.serviceName" . }}

    init:
      ingestOnly: {{ include "groundx.ingestOnly" . }}
      {{- if or (ne (include "groundx.db.privilegedUsername" .) "") (ne (include "groundx.db.privilegedPassword" .) "") }}
      mysql:
        {{- if ne (include "groundx.db.privilegedUsername" .) "" }}
        user: {{ include "groundx.db.privilegedUsername" . | quote }}
        {{- end }}
        {{- if ne (include "groundx.db.privilegedPassword" .) "" }}
        password: {{ include "groundx.db.privilegedPassword" . | quote }}
        {{- end }}
      {{- end }}
      search:
        password: {{ include "groundx.search.privilegedPassword" . | quote }}
        searchModel: all_access
        username: {{ include "groundx.search.privilegedUsername" . | quote }}

    integrationTests:
      search:
        duration: {{ include "groundx.integration.search.duration" . }}
        fileId: {{ include "groundx.integration.search.fileId" . | quote }}
        modelId: {{ include "groundx.integration.search.modelId" . }}

    layoutWebhookServer:
      baseURL: {{ include "groundx.layoutWebhook.serviceUrl" . }}
      port: {{ include "groundx.layoutWebhook.containerPort" . }}
      serviceName: {{ include "groundx.layoutWebhook.serviceName" . }}

    metrics:
      active: true
      {{- if or (ne $epc "0") (ne $gxc "0") (ne $lac "0") (ne $lwc "0") }}
      api:
        {{- if ne $epc "0" }}
        - name: {{ include "groundx.extract.api.serviceName" . }}
        {{- end }}
        {{- if ne $gxc "0" }}
        - name: {{ include "groundx.groundx.serviceName" . }}
        {{- end }}
        {{- if ne $lac "0" }}
        - name: {{ include "groundx.layout.api.serviceName" . }}
        {{- end }}
        {{- if ne $lwc "0" }}
        - name: {{ include "groundx.layoutWebhook.serviceName" . }}
        {{- end }}
      {{- end }}
      document:
        tokensPerMinute: {{ include "groundx.throughput.tpm.document" . }}
      {{- if or (ne $lic "0") (ne $sac "0") (ne $sic "0") (ne $scc "0") }}
      inference:
        {{- if ne $lic "0" }}
        - name: {{ include "groundx.layout.serviceName" . }}-inference
          tokensPerMinute: {{ $lic }}
        {{- end }}
        {{- if ne $sac "0" }}
        - name: {{ include "groundx.summary.api.serviceName" . }}
          tokensPerMinute: {{ $sac }}
        {{- end }}
        {{- if ne $sic "0" }}
        - name: {{ include "groundx.summary.serviceName" . }}-inference
          tokensPerMinute: {{ $sic }}
        {{- end }}
        {{- if ne $scc "0" }}
        - name: {{ include "groundx.summaryClient.serviceName" . }}
          tokensPerMinute: {{ $scc }}
        {{- end }}
      {{- end }}
      page:
        tokensPerMinute: {{ include "groundx.throughput.tpm.page" . }}
      {{- if eq (include "groundx.stream.hasKafka" .) "true" }}
      queue:
        {{- if eq (dig "type" "kafka" $ppq) "kafka" }}
        - name: {{ include "groundx.preProcess.serviceName" . }}
          target: {{ dig "topic" "" $ppq }}
          threshold: {{ include "groundx.throughput.services.preProcess.queue" . }}
        {{- end }}
        {{- if eq (dig "type" "kafka" $pq) "kafka" }}
        - name: {{ include "groundx.process.serviceName" . }}
          target: {{ dig "topic" "" $pq }}
          threshold: {{ include "groundx.throughput.services.process.queue" . }}
        {{- end }}
        {{- if eq (dig "type" "kafka" $uq) "kafka" }}
        - name: {{ include "groundx.queue.serviceName" . }}
          target: {{ dig "topic" "" $uq }}
          threshold: {{ include "groundx.throughput.services.queue.queue" . }}
        {{- end }}
        {{- if eq (dig "type" "kafka" $lq) "kafka" }}
        - name: {{ include "groundx.upload.serviceName" . }}
          target: {{ dig "topic" "" $lq }}
          threshold: {{ include "groundx.throughput.services.upload.queue" . }}
        {{- end }}
      {{- end }}
      session:
        addr: {{ printf "%s:%v" (include "groundx.metrics.cache.addr" .) (include "groundx.metrics.cache.port" .) }}
        notCluster: {{ include "groundx.metrics.cache.notCluster" . }}
        ssl: {{ include "groundx.metrics.cache.ssl" . }}
      summaryRequest:
        tokensPerMinute: {{ include "groundx.throughput.tpm.summaryRequest" . }}
      {{- if or (ne $eac "0") (ne $edc "0") (ne $esc "0") (ne $lcc "0") (ne $lmc "0") (ne $loc "0") (ne $lpc "0") (ne $lsc "0") }}
      task:
        {{- if ne $eac "0" }}
        - name: {{ include "groundx.extract.agent.serviceName" . }}
          target: {{ include "groundx.extract.agent.queue" . }}
          threshold: {{ $eac }}
        {{- end }}
        {{- if ne $edc "0" }}
        - name: {{ include "groundx.extract.download.serviceName" . }}
          target: {{ include "groundx.extract.download.queue" . }}
          threshold: {{ $edc }}
        {{- end }}
        {{- if ne $esc "0" }}
        - name: {{ include "groundx.extract.save.serviceName" . }}
          target: {{ include "groundx.extract.save.queue" . }}
          threshold: {{ $esc }}
        {{- end }}
        {{- if ne $lcc "0" }}
        - name: {{ include "groundx.layout.correct.serviceName" . }}
          target: {{ include "groundx.layout.correct.queue" . }}
          threshold: {{ $lcc }}
        {{- end }}
        {{- if ne $lmc "0" }}
        - name: {{ include "groundx.layout.map.serviceName" . }}
          target: {{ include "groundx.layout.map.queue" . }}
          threshold: {{ $lmc }}
        {{- end }}
        {{- if ne $loc "0" }}
        - name: {{ include "groundx.layout.ocr.serviceName" . }}
          target: {{ include "groundx.layout.ocr.queue" . }}
          threshold: {{ $loc }}
        {{- end }}
        {{- if ne $lpc "0" }}
        - name: {{ include "groundx.layout.process.serviceName" . }}
          target: {{ include "groundx.layout.process.queue" . }}
          threshold: {{ $lpc }}
        {{- end }}
        {{- if ne $lsc "0" }}
        - name: {{ include "groundx.layout.save.serviceName" . }}
          target: {{ include "groundx.layout.save.queue" . }}
          threshold: {{ $lsc }}
        {{- end }}
      {{- end }}

    {{- if eq (include "groundx.metrics.create" . | trim) "true" }}

    metricsServer:
      baseURL: {{ include "groundx.metrics.serviceUrl" . }}
      port: {{ include "groundx.metrics.containerPort" . }}
      serviceName: {{ include "groundx.metrics.serviceName" . }}
      sslCACert: /etc/ssl/tls/ca.crt
      sslCert: /etc/ssl/tls/tls.crt
      sslKey: /etc/ssl/tls/tls.key
      sslPort: {{ include "groundx.metrics.containerSSLPort" . }}
    {{- end }}

    owner:
      baseURL: {{ include "groundx.groundx.serviceUrl" . }}/api/v1
      name: on-prem
      type: {{ include "groundx.groundx.type" . }}
      {{- if ne (include "groundx.admin.username" .) "" }}
      username: {{ include "groundx.admin.username" . }}
      {{- end }}

    preProcessFileServer:
      baseURL: {{ include "groundx.preProcess.serviceUrl" . }}
      maxConcurrent: {{ include "groundx.preProcess.queueSize" . }}
      port: {{ include "groundx.preProcess.containerPort" . }}
      serviceName: {{ include "groundx.preProcess.serviceName" . }}

    processFileServer:
      baseURL: {{ include "groundx.process.serviceUrl" . }}
      maxConcurrent: {{ include "groundx.process.queueSize" . }}
      port: {{ include "groundx.process.containerPort" . }}
      serviceName: {{ include "groundx.process.serviceName" . }}

    processors:
      convert: [11]
      extract: [13]
      layout: [3]
      map: [4]
      saveFile: [2]
      skipConvert: [12]
      skipGenerate: [1]
      skipLayout: [5]
      skipMap: [6]
      skipSummarize: [7]
      summarize: [8]
      summarizeChunks: [10]
      summarizeSections: [9]
      {{- if $pres -}}
      {{ toYaml $pres | nindent 6 }}
      {{- end -}}
      {{- if eq (include "groundx.ingestOnly" .) "true" }}
      extraPostDefaults:
        - processorID: 1
          type: skip-generate
      {{- end }}

    queueFileServer:
      baseURL: {{ include "groundx.queue.serviceUrl" . }}
      maxConcurrent: {{ include "groundx.queue.queueSize" . }}
      pollTime: 1
      port: {{ include "groundx.queue.containerPort" . }}
      serviceName: {{ include "groundx.queue.serviceName" . }}

    queues:
      filePreProcess:
        {{- $ppq | toYaml | nindent 8 }}
      fileProcess:
        {{- $pq | toYaml | nindent 8 }}
      fileSummaryDev:
        {{- $sq | toYaml | nindent 8 }}
      fileSummaryProd:
        {{- $sq | toYaml | nindent 8 }}
      fileUpdate:
        {{- $uq | toYaml | nindent 8 }}
      fileUpload:
        {{- $lq | toYaml | nindent 8 }}

    rec:
      mysql: *mysql
      session:
        addr: {{ printf "%s:%v" (include "groundx.cache.addr" .) (include "groundx.cache.port" .) }}
        notCluster: {{ include "groundx.cache.notCluster" . }}
        ssl: {{ include "groundx.cache.ssl" . }}

    {{- if .Values.dashboard }}
    ssp:
      baseURL: http://{{ .Values.dashboard.serviceName }}.{{ include "groundx.ns" . }}.svc.cluster.local
      dashboardURL: http://{{ .Values.dashboard.serviceName }}.{{ include "groundx.ns" . }}.svc.cluster.local
    {{- end }}

    summaryServer:
      baseURL: {{ include "groundx.summaryClient.serviceUrl" . }}
      maxConcurrent: {{ include "groundx.summaryClient.queueSize" . }}
      port: {{ include "groundx.summaryClient.containerPort" . }}
      serviceName: {{ include "groundx.summaryClient.serviceName" . }}

    upload:
      baseDomain: {{ get $fs "baseDomain" }}
      baseUrl: {{ printf "%s://%s" (get $fs "scheme") (get $fs "baseDomain") }}
      bucket: {{ get $fs "bucketName" }}
      bucketUrl: {{ printf "%s://%s" (get $fs "bucketScheme") (get $fs "bucketDomain") }}
      {{- if and (hasKey $fs "username") (ne (get $fs "username") "") }}
      id: {{ get $fs "username" | quote }}
      {{- end }}
      {{- if and (hasKey $fs "region") (ne (get $fs "region") "") }}
      region: {{ get $fs "region" }}
      {{- end }}
      {{- if and (hasKey $fs "password") (ne (get $fs "password") "") }}
      secret: {{ get $fs "password" | quote }}
      {{- end }}
      service: {{ get $fs "storageType" }}
      ssl: {{ get $fs "ssl" }}
      {{- if and (hasKey $fs "token") (ne (get $fs "token") "") }}
      token: {{ get $fs "token" }}
      {{- end }}

    uploadFileServer:
      baseURL: {{ include "groundx.upload.serviceUrl" . }}
      maxConcurrent: {{ include "groundx.upload.queueSize" . }}
      port: {{ include "groundx.upload.containerPort" . }}
      serviceName: {{ include "groundx.upload.serviceName" . }}
{{- end }}
